/* reset.css用来重置样式 */

*{margin:0;padding:0;}
/* 把所有标签自带的内外边距清除 */

body{
    font-size: 16px;
    font-family:"Microsoft YaHei";
}

ul,ol,li{
    list-style: none;
    /* 清除列表的默认样式 */
}

u,a{
    text-decoration: none;
    /* 清除下划线 */
}

i,em{
    font-style: normal;
    /* 清除倾斜样式 */
}

b,strong{
    font-weight: normal;
    /* 清除加粗的样式 */
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 16px;
}
img{
    border: none;
    /* 兼容IE浏览器 */
}
input{
    outline: none;
    /* 清除input聚焦时的蓝色样式 */
}